<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="html" class="org.apache.log4j.FileAppender">
		<param name="file" value="logs/samplehtml.html" />
		<layout class="com.test.sample.utils.CustomHTMLLayout">
			<param name="Title" value="samplehtml_log" />
			<param name="LocationInfo" value="true" />
		</layout>
	</appender>

	<!-- 
	<logger name="com.thed.somepackage">
		<level value="WARN" />
	</logger>
	-->

	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="html" />
	</root>

</log4j:configuration>
